@import '../../styles/mixins';
@import '../../styles/work-details';

.oziva {
	.next-project a, .prev-project a {
		color: #000;
	}
	
	.page-header {
		@include respond-from(lg) {
			// min-height: 110vh;
		}
	}
	img{
		width: 100%;
	}
	.bg{
		background-size: cover; 
		background-repeat: no-repeat;
		background-position: top center;
		@include respond-until(sm) {
			min-height: 70vh;
			background-position: bottom;
		}
	}

	.bg2{
		background-size: cover; 
		background-repeat: no-repeat;
		background-position: top center;
		@include respond-until(sm) {
			min-height: 40vh;
			background-position: bottom;
		}
	}

	.page-header {
			text-align: center;
	}

    .work-description {
        @include respond-until(sm) {
        padding-bottom: 0px !important; 
        }
    }
	.fold-2 {
		min-height: 60vh;
		position: relative;
		width: 100%;
		margin-top: 0vh;
		@include respond-until(sm) {
			min-height: 45vh;
		}

		.project-image-container{
			z-index: 9;
			position: relative;
		} 
	}
	.fold-3 {
		min-height: 100vh;
		position: relative;
		width: 100%;
		text-align: center;
		margin-top: 5.4em;
        @include respond-until(sm) {
            margin-top: 2.7em;
			min-height: 0vh;
        }
        .fold-3-img {
            margin-bottom: -10px;
        }
		.mobile-scrn-1 {
			@include respond-until(sm) {
				transform: translate(0, -50%);
			}
		}
		.mobile-scrn-2 {
			@include respond-until(sm) {
				transform: translate(0, -20%);
			}
		}
		

		

		.project-image-container{
			z-index: 9;
			position: relative;
			&.img-grid {
				.right-img {
					margin-top: 0vh;
					@include respond-until(sm) {
						margin-top: 0;
					}
				}
			}
		}
	}

	.fold-4{
		margin-top: 5.5em;
		text-align: center;
		@include respond-until(sm) {
			margin-top: 2.9em;
		}
		.slide {
			background: #fff;
			padding-bottom: 0vh;
		}
		.slideBg {
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			width: 100%;
			height: auto;
			margin: 0 auto;
			@include respond-until(sm) {
				height: 34vh;
			}
		}
		.project-image-container{
			margin-bottom: 0;
				@include respond-until(sm) {
					width: 100%;
					display: block;
					margin: 0 auto;
                    margin-top: 4em;
					margin-bottom: 0em;
				}
		}
	}

    .fold-5 {
        margin-top: 5.5em;
		min-height: 100vh;
		position: relative;
		width: 100%;
        @include respond-until(sm) {
            margin-top: 3.35em;
        }

		.fold-5-img{
			margin-top: -10px;
			@include respond-until(sm) {
				margin-top: -10px;
			}
		}

		.mgbtm{
			@include respond-from(md) {
				margin-bottom: 4.9em;
			}
			@include respond-until(sm) {
				margin-bottom: 2.3em;
			}
		}
    }

	.oziva-slider{
		.slick-arrow svg{
			width: 100%;
			height: 100%;
			fill: #fff;
			@include respond-until(sm) {
				width: 40%;
			}
		}
		.slick-prev{
			left: 25px;
			z-index: 1;
			@include respond-until(sm) {
				left: 10px;
			}
		}
		.slick-next{
			right: 25px;
			@include respond-until(sm) {
				right: 10px;
			}
		}

		.slick-next, .slick-prev{
			width: 60px;
			height: 290px;
			top: 43%;
		}

		.slick-next:before, .slick-prev:before{
			display: none;
		}
	}

}