@import '../../styles/mixins';
@import '../../styles/work-details';

.nihar-shanti { 
    
	img{
		max-width: 100%;
	}
	.bg{
		background-size: cover; 
		background-position: top center;
		background-repeat: no-repeat;
    }
	.full-page-wrapper {
		@include respond-until(sm) {
			min-height: auto;
		}
	}
    &.work-details-page {
		.work-description {
			padding-bottom: 50px;
		}
	}
	
	.page-header {
		position: relative;
		min-height: 140vh;
		.banner-img-container {
			width: 80vh;
			text-align: center;
		}
		@include respond-until(sm) {
			min-height: 70vh;
		}
	}
	
	.page-bg-repeat{
		background-repeat: repeat;
		background-size: 28%;
		position: relative;
	}
	.page-bg-top {
		background-repeat: no-repeat;
		background-position: top left;
		background-size: 100%;
		padding-top: 250px;
	}
	.flower1 {
		position: absolute;
		width: 300px;
		top: 140px;
		left: -50px;

		@include respond-until(sm) {
			width: 150px;
		}
	}

	.fold-1 {
		position: relative;
		.product-1 {
			width: 400px;
			margin-top: 180px;
			margin-left: 10vh;
			@include respond-until(s) {
				transform: rotate(14deg);
			}
			@include respond-until(sm) {
				width: 300px;
				margin-top: 60px;
				margin-left: 12%;
			}

		}
		.product-2 {
			width: 400px;
			margin-left: 10vh;
			@include respond-until(s) {
				transform: rotate(-14deg);
			}
			@include respond-until(sm) {
				width: 300px;
				margin-left: 0%;
			}
		}

		.flower2 {
			position: absolute;
			right: 0;
			bottom: 0;
			width: 220px;

			@include respond-until(sm) {
				width: 150px;
				bottom: 8em;
			}
		}
		.fold-1-text {
			width: 70%;
			@include respond-until(md) {
				width: 100%;
				margin-top: 5em;
			}
		}
	}

	.fold-2 {
		position: relative;
		margin-top: 250px;
		padding-bottom: 250px;
		@include respond-until(sm) {
			margin-top: 80px;
			padding-bottom: 80px;
		}
		.flower3 {
			position: absolute;
			left: -40px;
			top: 20%;
			width: 200px;
			@include respond-until(sm) {
				top: -3em;
			}
		}
		.align-item-center {
			align-items: center;
		}
		.product-3 {
			width: 280px;
			margin: auto;
			position: relative;
		}
		.product-info {
			width: 80%;
			margin-top: 100px;
			@include respond-until(md) { 
				width: 100%;
				margin-bottom: 100px;
			}

			ul {
				display: flex;
				margin-top: 20px;
				li {
					list-style: none;
					width: 100px;
				}
			}
			h3 {
				font-size: 3em;
				font-family: $font-nexa-ltrg;
				color: green
			}
		}
		.product-3-wrap {
			position: relative;
		}
		.flower-bg-1, .flower-bg-2, .flower-bg-3 {
			position: absolute;
			width: 100px;
		}
		.flower-bg-1 {
			left: 32vh;
			width: 22vw;
			top: 23vh;
			transform: rotate(5deg);
			@include respond-until(md) {
				left: 25vh;
			}
			@include respond-until(sm) {
				left: 18vh;
			}
			@include respond-until(s) {
				width: 42vw;
				left: 25vh;
			}
		}
		.flower-bg-2 {
			left: 5vh;
			width: 20vw;
			top: -13vh;
			@include respond-until(md) {
				left: 1vh;
   				top: -9vh;
			}
			@include respond-until(sm) {
				left: 2vh;
				top: -5vh;
			}
			@include respond-until(s) {
				left: 0vh;
				top: -8vh;
				width: 25vh;
			}
		}
		.flower-bg-3 {
			top: 23vh;
			left: 3vh;
			width: 20vw;
			@include respond-until(md) {
				left: 0;
			}
			@include respond-until(s) {
				top: 26vh;
				left: -3vh;
				width: 40vw;
			}
		}
	}

	.fold-3 {
		position: relative;
		padding-bottom: 250px;
		@include respond-until(sm) {
			padding-bottom: 100px;
		}
		.flower12 {
			position: absolute;
			left: -40px;
			bottom: 20%;
			width: 150px;
			@include respond-until(sm) {
				bottom: -6em;
			}
		}

		.flower8 {
			position: absolute;
			right: -33px;
			top: -178px;
			width: 180px;
			@include respond-until(sm) {
				top: -98px;
    			width: 130px;
			}
		}

		.align-item-center {
			align-items: center;
			@include respond-until(s) {
				flex-direction: column-reverse;
			}
		}
		.product-4-wrap {
			position: relative;
		}
		.product-4 {
			width: 280px;
			margin: auto;
			position: relative;
		}
		.product-info {
			width: 80%;
			margin: 150px auto 0;
			@include respond-until(md) {
				width: 100%;
				margin: 90px auto;
			}
			ul {
				display: flex;
				margin-top: 20px;
				li {
					list-style: none;
					width: 100px;
				}
			}
			h3 {
				font-size: 3em;
				font-family: $font-nexa-ltrg;
				color: green
			}
		}
		.flower-bg-9, .flower-bg-10 {
			position: absolute;
		}
		.flower-bg-9 {
			width: 16vw;
			left: 6vh;
			top: 4vh;
			@include respond-until(md) {
				left: 1vh;
			}
			@include respond-until(sm) {
				left: 1vh;
			}
			@include respond-until(s) {
				left: 1vh;
				width: 30vw;
			}
		}
		.flower-bg-10 {
			width: 14vw;
			right: 9vh;
			top: 35vh;
			@include respond-until(md) {
				right: 2vh;
				top: 25vh;
			}
			@include respond-until(sm) {
				right: 2vh;
				top: 18vh;
			}
			@include respond-until(s) {
				right: 0vh;
				top: 28vh;
				width: 30vw;
			}
		}
	}
	
}